.root {
	padding-top: 5%;

	/* entire view (filters + cards) */
	.peopleView {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5vh;
		padding-bottom: 30%;
		height: 100%;
	}

	/* individual parts of view */
	.searchArea {
		min-width: 300px;
		padding-bottom: 3%;
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 1vh;

		& h1 {
			margin: 2%;
			margin-bottom: 0;
			font-size: 3rem;
			font-weight: lighter;
		}

		& p {
			margin: 2%;
			margin-top: 0;
			color: #1f1f1f;
		}
	}

	.avatarFilter {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 5px;
		color: #1f1f1f;
	}

	.searchBar {
		width: 100%;

		& .searchIcon {
			position: absolute;
			color: #ddd;
			margin-top: 17px;
			margin-left: 15px;
		}

		& input {
			padding-left: 40px;
			width: 100%;
			height: 50px;
			color: graphite;
			font-size: 14px;
			border-radius: 30px;
			border: 1px solid #ddd;
		}
	}

	.departmentsAndPeople {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		gap: 5px;
	}

	.departmentFilter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: left;

		/* give department tree enough room to grow */
		width: 15vw;
		min-height: 80vh;
		flex-grow: 1.5;

		& > h4 {
			margin-top: 0;
			margin-bottom: 0;
			width: 100%;
			text-align: left;
		}
	}

	.peopleCards {
		flex-grow: 2;
		width: 60vw;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 15px;
		padding-top: 10px;
	}

	.noResults {
		width: 100%;
		text-align: center;
	}

	/* hide department tree if on mobile */
	@media (width < 600px) {
		.desktopOnly {
			display: none;
		}
	}

	/* center cards when in smaller view */
	@media (width < 850px) {
		.mobileCards {
			flex-grow: 1 !important;
			width: 50vw !important;
			align-items: flex-start !important;
			justify-content: center !important;
		}
	}
}
