.root {
	overflow: auto;
	width: 100%;
	padding-left: 3%;
	padding-right: 0 !important;

	.folder {
		color: gray;
		width: 15px;
		height: 15px;
		margin-left: -15px;
		margin-right: 5px;
		padding-right: 0 !important;
		background-color: white;
	}

	.subTree {
		border-left: 1px solid lightgray;
		margin-left: 15px;
	}

	.subItem {
		color: gray;
		width: 15px;
		height: 15px;
		margin-left: -3px;
	}

	.single {
		padding-left: 11px;
		padding-right: 0 !important;
	}

	.folderIcon {
		font-size: 8px;

		& svg {
			margin-bottom: 2px;
			margin-right: 2px;
		}
	}

	& button {
		background-color: transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		overflow: hidden;
		outline: none;
	}

	& li {
		list-style-type: none;
		padding-left: 0;
		margin-left: 5px;
	}

	& ul {
		list-style-type: none;
		padding-left: 0;
	}

	.selected {
		color: dodgerblue;
	}
}
