.root {
	overflow: auto;
	width: 100%;
	border-left: 1px solid gray;
	.folder {
		color: gray;
		width: 15px;
		height: 15px;
	}

	.subTree {
		color: gray;
		border-left: 1px solid gray;
	}

	.subItem {
		color: gray;
		width: 15px;
		height: 15px;
		border-left: 1px solid gray;
	}

	.single {
		padding-left: 22px;
	}

	& button {
		background-color: transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		overflow: hidden;
		outline: none;
	}

	& li {
		list-style-type: none;
		margin-left: 10px;
		line-height: 0;
	}

	& ul {
		list-style-type: none;
		margin-left: 10px;
		padding-left: 0;
	}

	.selected {
		color: dodgerblue;
	}
}
